<div class="container">
  <div class="page-header">
    <h1>All Questions</h1>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <table>
        <tr>
          <th>Question Number</th>
          <th></th>
          <th>Posted By</th>
          <th></th>
          <th>Urgency Level</th>
        </tr>
          
        <% @questions.each do |question| %>
          <tr>
            <td>
              <a href= "/questions/<%= question.id %>"><%= question.id %></a></td>
            <td></td>
            <td><%= question.user.name %></td>
            <td></td>
            <td><%= question.urgency_id %></td>
          </tr>
          <% end  %>
      </table>
    </div>
    
    <div class="col-md-3">
      <nav><a href="/questions/new">Post your question here</a></nav>
    </div>
    
  </div>
</div>

