<div class="main">

<div class="title">
<h1>All Questions</h1>
</div>


<div class="nav">
<nav><div><a href="/questions/new">Post your question here</a></div></nav>


<div class="inside">
  <table>
    <tr>
      <th>Question Number</th>
      <th>Posted By</th>
      <th>Urgency Level</th>
    </tr>
          
    <% @questions.each do |question| %>
    <% @asker = User.find(question.user_id) %>
    <tr>
      <td>
        <a href= "/questions/<%= question.id %>"><%= question.id %></a></td>
      <td><%= @asker.name %></td>
      <td><%= question.urgency_id %></td>
    </tr>
    <% end  %>
  </table>
</div></div>

</div>

