<!-- not using this view -->
<h1>All Comments</h1>

<div class="nav">
<a href="/questions/new">Post your question</a>

<div class ="inside">
  <!-- TODO -->
  <!--if @comments is empty, have a message saying so -->
<!--get name for each user_id -->
<!--probably don't need question Id anymore -->
<% @comments.each do |comment| %>



<p><a href= "/comments/<%= comment.id %>"><%= comment.answer%></a></p>


<% end %>  </div></div>

<!-- took out erb tags -->
 <!-- <p>user id is comment.user_id </p>
 <p>question id is comment.question_id </p> -->