<h1>Edit page</h1>
<form action="/users/<%= @user.id %>/update" method="post">
 
  <input type="text" name="name" value="<%= @user.name %>">
 
  <input type="email" name="email" value="<%= @user.email %>">

  <input type="submit" value="Submit">

</form>