<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>
<% if (@user.instructor == true) %>
<h3><%= "Instructor user" %></h3>
<%end %>

<p>If this is your account, you can click this link to update your account.</p>

<a href= "/users/<%= @user.id %>/edit">Edit</a>
