<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Student Queue Manager</h1>

      <h3>Sign in to post your question and view replies.</h3>
      <h3>If you don't have an account yet, sign up to use this service!</h3>

    </div>
</div>
