header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  text-align: center;
/*  color: #54c571;*/
  color: black;
  background-image: url("/assets/ocs_icon.png");
  background-size: 80px;
  border: 2px solid white;
  background-color: white;
}

.heading {
  height: 80px;
  background-attachment: fixed;
  background-position: fixed; 
  top: 0;
  left: 0;
  z-index: 1;
}


.main {
    width: 100%;
    z-index: -1;
    margin-top: 5px;
    overflow: auto;
}

body {
  color: #0E6B9A;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

nav { 
  float: left;
  width: 25%;
}

.inside {
  margin-left: 32%;
  padding-left: 5px;
  
}
.break {
 border-bottom: 2px dashed #54c571; 
  
}

.footer {
  border-top: 3px solid #54c571;
  padding-top: 10px;
  margin-top: 10px;
  clear: both;
  
}
.left {
  float: left;

}

.text_field {
  padding: 10px;
  
}

h1 {
  text-align: center;
}

ul,li {
  list-style-type: none;
  list-style-position: inside;
  line-height: 150%;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.form {
  width: 10px;
  float: left;
  text-align: right;
  margin-right: 10px;
  display: block
}

.new_comment, .new_question {
  line-height: 200%;
  padding-top: 20px;
}

th, tr {
  width: 100px;
  text-align: center;
}

textarea {
  width: 200px;
  height: 50px;
  box-sizing: content-box;
  
}

input, .actions {
  border: 1px solid blue;
  background-color: white;
  height: 20px;
  border-radius: 5px;
  margin: 5px;
}

.btn {
  outline: 0 none;
  padding: 100px;
}

.title {
 width: 100%; 
}

.dropdown-toggle{
  padding: 0;
}

/*@media screen and (max-width: 500px) {
  .inside {
    float: left;
    margin-left: 2px;
    display: block;
  }*/
  
  nav { 
   width: auto;
  }




